# Beige Books Analysis!

In [1]:
import pandas as pd

In [9]:
beige = pd.read_csv('final_table.csv')
#beige.iloc[:,3:].to_csv('final_table.csv', sep = ',', encoding='utf-8', index=False)

In [10]:
beige.head()

,ID,Date,District,Sector Heading,cleaner,keywords
0,1,5-20-1970,Atlanta,Summary of Economic Activity,"['mood', 'director', 'pessimism', 'optimism', ...","['area', 'construction', 'plant', 'project', '..."
1,2,5-20-1970,Boston,Summary of Economic Activity,"['discussion', 'monday', 'friday', 'district',...","['report', 'business', 'note', 'activity', 'ar..."
2,3,5-20-1970,Chicago,Summary of Economic Activity,"['statement', 'conversation', 'mood', 'pessimi...","['decline', 'strike', 'demand', 'money', 'bank..."
3,4,5-20-1970,Cleveland,Summary of Economic Activity,"['activity', 'district', 'past', 'week', 'truc...","['price', 'economist', 'director', 'report', '..."
4,5,5-20-1970,Dallas,Summary of Economic Activity,"['inflation', 'concern', 'district', 'board', ...","['district', 'employment', 'increase', 'sale',..."