In [2]:
import pandas as pd

In [6]:
import gensim

C:\Users\keiko\Anaconda3\lib\site-packages\gensim\utils.py:1197: UserWarning: detected Windows; aliasing chunkize to chunkize_serial
  warnings.warn("detected Windows; aliasing chunkize to chunkize_serial")

In [9]:
from gensim import corpora

In [4]:
beige = pd.read_csv('noSS_table.csv')

In [5]:
beige.head()

,Unnamed: 0,ID,Date,District,Sector Heading,nostop_stem
0,0,1,5-20-1970,Atlanta,Summary of Economic Activity,"['mood', 'director', 'vary', 'pessimism', 'opt..."
1,1,2,5-20-1970,Boston,Summary of Economic Activity,"['discussion', 'monday', '18', 'friday', 'dist..."
2,2,3,5-20-1970,Chicago,Summary of Economic Activity,"['publish', 'statement', 'private', 'conversat..."
3,3,4,5-20-1970,Cleveland,Summary of Economic Activity,"['economic', 'activity', 'district', 'disrupt'..."
4,4,5,5-20-1970,Dallas,Summary of Economic Activity,"['continue', 'inflation', 'major', 'concern', ..."

In [7]:
corpus = [eval(beige['nostop_stem'][i]) for i in range(len(beige))]
type(corpus[:3][0])

list

In [44]:
print(dictionary)

Dictionary(40405 unique tokens: ['10', '2600', '8', 'act', 'activity']...)

In [10]:
dictionary = corpora.Dictionary(corpus)

In [13]:
bow = [dictionary.doc2bow(doc) for doc in corpus]

In [16]:
a = corpus[0]

In [26]:
bowed = dictionary.doc2bow(a)

In [54]:
bowed.sort(key= lambda tup:tup[1], reverse=True)

In [57]:
[bowed[i][0] for i in range(5)]

[17, 50, 101, 129, 51]

In [60]:
[dictionary[i] for i in _ ]

['area', 'construction', 'large', 'new', 'continue']

Testing...

In [61]:
#download en on spaCy
import en_core_web_sm
nlp = en_core_web_sm.load()

In [62]:
def tablefier(parsed_text):
    toks_tab = pd.DataFrame()
    toks_tab['Word'] = [word.text for word in parsed_text]
    toks_tab['POS'] = [word.pos_ for word in parsed_text]
    return toks_tab

In [63]:
parsed = nlp(beige['nostop_stem'][0])

In [64]:
gram = tablefier(parsed)
gram= gram[gram['POS'] != 'PUNCT']
gram=gram[gram['POS']!='ADP']

In [75]:
gram['POS'].unique()

array(['NOUN', 'VERB', 'ADJ', 'ADV', 'NUM'], dtype=object)

In [73]:
gram[(gram['POS']!= 'ADV') & (gram['POS']!= 'NUM')]

              Word   POS
2             mood  NOUN
6         director  NOUN
10            vary  VERB
14       pessimism  NOUN
18        optimism  NOUN
22       consensus  NOUN
26           exist  VERB
30        business  NOUN
34        activity  NOUN
38           sixth   ADJ
42        district  NOUN
46        continue  VERB
50          weaken  VERB
58           major   ADJ
62        economic   ADJ
66           index  NOUN
70           drift  NOUN
78            mark  NOUN
82            time  NOUN
86           month  NOUN
90         leastin  NOUN
94     pessimistic   ADJ
98            vein  NOUN
102           lead  NOUN
106     department  NOUN
110          store  NOUN
118         inform  NOUN
122           sale  NOUN
126           year  NOUN
134       addition  NOUN
...            ...   ...
1166          area  NOUN
1170  construction  NOUN
1174      continue  VERB
1178          boom  NOUN
1182   disneyworld  NOUN
1186          gain  VERB
1190      momentum  NOUN
1194  construction  NOUN
1202      commence  NOUN
1206         large   ADJ
1210   residential   ADJ
1214       project  NOUN
1218         south  NOUN
1222     orlandoif  NOUN
1226     tentative  NOUN
1230          wage  NOUN
1234    settlement  NOUN
1238        ratify  VERB
1242        ground  NOUN
1246        worker  NOUN
1250      national   ADJ
1254       airline  NOUN
1258          week  NOUN
1262       provide  VERB
1266      stimulus  NOUN
1270      activity  NOUN
1274     southeast  NOUN
1278       florida  NOUN
1282          come  VERB
1286          week  NOUN

[306 rows x 2 columns]