In [1]:
import pandas as pd
import gensim

C:\Users\keiko\Anaconda3\lib\site-packages\gensim\utils.py:1197: UserWarning: detected Windows; aliasing chunkize to chunkize_serial
  warnings.warn("detected Windows; aliasing chunkize to chunkize_serial")

In [2]:
import nltk
from nltk.corpus import stopwords

In [3]:
import string
from string import punctuation

In [4]:
beige = pd.read_csv('beige_books.csv')

In [ ]:
#for removing stop words/stemming words
%%capture
!pip install spacy
!python -m spacy download en
!pip install --no-cache-dir wordcloud
!pip3 install --no-cache-dir -U folium
!pip install --no-cache-dir textblob
from datascience import make_array
from datascience import *
import numpy as np
import matplotlib.pyplot as plt
from ipywidgets import *
%matplotlib inline
import folium
import pandas as pd
from IPython.display import HTML, display, IFrame
import folium
import spacy
from wordcloud import WordCloud

## Preprocessing

In [5]:
beige.head()

,ID,Date,District,Sector Heading,Sector Text
0,1,5-20-1970,Atlanta,Summary of Economic Activity,The mood of our directors varies from pessimis...
1,2,5-20-1970,Boston,Summary of Economic Activity,Discussions Monday (May 18) and last Friday wi...
2,3,5-20-1970,Chicago,Summary of Economic Activity,In published statements and private conversati...
3,4,5-20-1970,Cleveland,Summary of Economic Activity,Economic activity in the District has been dis...
4,5,5-20-1970,Dallas,Summary of Economic Activity,Continued inflation is the major concern of El...

In [6]:
print(len(beige['Sector Text']))
texts_series = beige['Sector Text']
texts = list(beige['Sector Text'])

25273

#### Getting rid of null vals, punctuation marks, stop words, and lowercasing

In [29]:
print(len(beige[texts_series.isnull()]))
beige[texts_series.isnull()]

139

,ID,Date,District,Sector Heading,Sector Text
20,21,5-20-1970,San Francisco,Summary for Selected Economic Aspects,NaN
29,30,5-20-1970,San Francisco,Inventories,NaN
30,31,5-20-1970,San Francisco,Both higher and lower inventories are reported.,NaN
92,93,10-14-1970,Atlanta,five-week delivery.,NaN
121,122,12-9-1970,Cleveland,one- and two-year maturity ranges.,NaN
135,136,1-12-1971,Dallas,as a whole.,NaN
216,217,7-21-1971,San Francisco,August 1.,NaN
258,259,11-10-1971,Boston,Regulation Q.,NaN
584,585,2-13-1974,Richmond,will decline.,NaN
628,629,6-12-1974,Dallas,just 6 percent.,NaN
710,711,1-15-1975,Atlanta,capital-spending plans.,NaN
788,789,7-9-1975,Kansas City,1-year CD's.,NaN
841,842,11-12-1975,Philadelphia,tax-exempt income.,NaN
1007,1007,1-13-1977,Chicago,1973-74.,NaN
1287,1287,9-13-1978,Boston,policy-induced recession at this time.,NaN
1366,1366,4-11-1979,Minneapolis,A Slowdown and a Threat,NaN
1989,1989,8-11-1981,Cleveland,<>,NaN
2456,2456,6-23-1982,Cleveland,<>,NaN
2714,2714,12-15-1982,Chicago,.,NaN
3172,3172,9-20-1983,Philadelphia,pre-MMDA levels.,NaN
5796,5795,6-15-1988,Richmond,Respondents Expecting Rate of Increase to,NaN
5797,5796,6-15-1988,Richmond,:,NaN
5798,5797,6-15-1988,Richmond,Rise,NaN
5799,5798,6-15-1988,Richmond,Slow,NaN
5800,5799,6-15-1988,Richmond,Not Change,NaN
5801,5800,6-15-1988,Richmond,Prices,NaN
5802,5801,6-15-1988,Richmond,40%,NaN
5803,5802,6-15-1988,Richmond,10%,NaN
5804,5803,6-15-1988,Richmond,50%,NaN
5805,5804,6-15-1988,Richmond,Wages,NaN
...,...,...,...,...,...
18279,18276,6-11-2008,Atlanta,.,NaN
18282,18279,6-11-2008,Atlanta,Agriculture,NaN
18304,18301,6-11-2008,Cleveland,Energy,NaN
19412,19409,12-2-2009,San Francisco,.,NaN
20707,20704,10-19-2011,Philadelphia,.,NaN
21021,21018,4-11-2012,Dallas,Prices,NaN
21478,21475,11-28-2012,Minneapolis,.,NaN
21563,21560,1-16-2013,Kansas City,Â,NaN
21566,21563,1-16-2013,Kansas City,Wages and Prices,NaN
21591,21588,1-16-2013,Richmond,Retail,NaN
21605,21602,1-16-2013,San Francisco,Return to top,NaN
21676,21673,3-6-2013,Philadelphia,S,NaN
21724,21721,4-17-2013,Cleveland,Manufacturing,NaN
21813,21810,6-5-2013,Cleveland,Manufacturing,NaN
21839,21836,6-5-2013,Minneapolis,with some exceptions noted.,NaN
21904,21901,7-17-2013,Cleveland,Manufacturing,NaN
21993,21990,9-4-2013,Cleveland,Manufacturing,NaN
22083,22080,10-16-2013,Cleveland,Manufacturing,NaN
22173,22170,12-4-2013,Cleveland,Manufacturing,NaN
22440,22437,4-16-2014,Cleveland,Manufacturing,NaN
22529,22526,6-4-2014,Cleveland,Manufacturing,NaN
22532,22529,6-4-2014,Cleveland,Consumer Spending,NaN
22710,22707,9-3-2014,Cleveland,Manufacturing,NaN
22898,22895,12-3-2014,Dallas,Manufacturing,NaN
22959,22956,1-14-2015,Atlanta,Real Estate and Construction,NaN
23535,23532,12-2-2015,Cleveland,Consumer Spending,NaN
23579,23576,12-2-2015,Richmond,Manufacturing,NaN
23716,23713,3-02-2016,Cleveland,Banking,NaN
24846,24843,7-12-2017,St Louis,.,NaN
25178,25175,1-17-2018,Boston,.,NaN

In [7]:
#get rid of empty text records
beige.dropna(axis = 0, how = 'any', inplace = True)
len(beige)

25134

In [31]:
type(beige['Sector Text'][0])

str

In [8]:
#lowercase all records
beige['Sector Text'] = beige['Sector Text'].str.lower()

In [9]:
beige['Sector Text'][0]

"the mood of our directors varies from pessimism to optimism. if any consensus exists, it is that business activity in the sixth district will continue to weaken slightly. many major economic indices should drift downward or mark time for the next two months at least.in the pessimistic vein, a leading department store recently informed us that their sales are even with a year ago, but only because of the addition of branches; unit sales, of course, are lower. the store reported that labor costs were up 8 to 10 percent and profits were off. they were pessimistic about future department store sales and did not anticipate a quick economic recovery. a telephone survey of department stores indicates this conclusion is shared by many retailers throughout the southeast.according to directors' reports, retail sales in some areas have been adversely affected because of a diversion of purchasing power to private schools which have sprung up in response to integration orders. lumber mills in many areas have not been operating at profitable levels, and one major mill is planning to close down operations for three to six weeks to adjust inventories. a recovery in this industry is anticipated by the end of the year. the coal industry in tennessee is also stymied at the mine safety act, with which the industry claims it is impossible to comply.the temporary closing of oil leasing in the gulf because ofoil-slick problems continues to cause a slump in the louisiana gulf coast area. the outlook for the immediate future is pessimistic. difficulty in obtaining insurance will also continue to hold up construction in the wake of hurricane camille. also, a strike by 2,600 workers at gulf states power is hamstringing new construction in baton rouge and other areas served by this utility.the employment outlook remains bleak at the large number of military and aerospace installations in the south. financial districts of major metropolitan areas are expected to continue to experience a reduction in employment occurring throughout the brokerage business, and there has been some reduction in employment at a large bank.a recent canvass of institutional mortgage lenders indicates pessimistic outlook for single- and multi-family housing starts. atlanta and miami were the only moderately bright spots.higher prices of vegetables, peaches, and other agricultural commodities may be in prospect because of lower crop estimates and delayed plantings. production estimates of citrus fruit, however, remain bullish despite a mild drought.on the optimistic side of the ledger, many new plant locations and large-scale construction projects have been reported recently. for example, central alabama will be receiving a modular home plant, a poultry plant, and a foundry for production of parts for automobiles and other products. in southern louisiana, a new chemical plant has been announced and a large addition to an existing plant is planned. in the birmingham area, a rash of construction projects has been announced. in the new orleans area, plans for a new shopping center and another large motel have been announced. potential public construction in that area includes a large bridge, an airport, and a stadium.one director has reported a sizable increase in new orders because of a revival of capital projects that had been postponed last year.a real bright spot in our district has been the orlando area, where construction should continue to boom as disneyworld gains momentum. construction will soon be commencing on a very large residential project south of orlando.if a tentative wage settlement is ratified by ground workers of national airlines this week, it will provide a stimulus to activity in southeast florida in the coming weeks."

#### getting rid of punctuation marks

In [10]:
import re

In [35]:
punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [36]:
ex = 'this @(*&is an exmaple text *&^%@^}{(0} to use'
re.sub('[^\s\w]', '', ex)

'this is an exmaple text 0 to use'

In [11]:
beige['Sector Text'].str.replace(r'[^\w\s]', '')
beige['Sector Text'] = beige['Sector Text'].str.replace(r'[^\w\s]', '')

In [ ]:
#nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

In [12]:
beige['District'].unique()

array(['Atlanta', 'Boston', 'Chicago', 'Cleveland', 'Dallas',
       'Kansas City', 'Minneapolis', 'New York', 'Philadelphia',
       'Richmond', 'San Francisco', 'St Louis', 'District'], dtype=object)

In [46]:
#ny = beige[beige['District'] == 'New York']
#ny.to_csv(path_or_buf = 'ny.csv', sep = ',', encoding='utf-8')

#### getting rid of stopwords

In [14]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\keiko\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [15]:
stop_words = stopwords.words('english')

In [16]:
#remove stop words/tokenize
def rem_stop(text):
    
    from nltk.corpus import stopwords
    
    stop_words = stopwords.words("english")
       
    toks = nltk.word_tokenize(text)
    toks_reduced = [x for x in toks if x.lower() not in stopwords.words('english')]
    
    return toks_reduced

In [56]:
len(beige['Sector Text'])

25134

In [17]:
beige['tokenized'] = [rem_stop(t) for t in beige['Sector Text']]

In [18]:
beige.to_csv(path_or_buf = 'beige_tokenized.csv', sep = ',', encoding='utf-8')

In [6]:
token = pd.read_csv('beige_tokenized.csv')
token.head()

,Unnamed: 0,ID,Date,District,Sector Heading,Sector Text,tokenized
0,0,1,5-20-1970,Atlanta,Summary of Economic Activity,the mood of our directors varies from pessimis...,"['mood', 'directors', 'varies', 'pessimism', '..."
1,1,2,5-20-1970,Boston,Summary of Economic Activity,discussions monday may 18 and last friday with...,"['discussions', 'monday', 'may', '18', 'last',..."
2,2,3,5-20-1970,Chicago,Summary of Economic Activity,in published statements and private conversati...,"['published', 'statements', 'private', 'conver..."
3,3,4,5-20-1970,Cleveland,Summary of Economic Activity,economic activity in the district has been dis...,"['economic', 'activity', 'district', 'disrupte..."
4,4,5,5-20-1970,Dallas,Summary of Economic Activity,continued inflation is the major concern of el...,"['continued', 'inflation', 'major', 'concern',..."

In [ ]:
len(token['tokenized'][0])

#### using spaCy to handle same-stem words

In [39]:
#!python -m spacy download en

In [19]:
#download en on spaCy
import en_core_web_sm
nlp = en_core_web_sm.load()

In [44]:
parsed = nlp(beige['Sector Text'][0].lower())

In [45]:
def tablefy(parsed_text):
    toks_tab = pd.DataFrame()
    toks_tab['Word'] = [word.text for word in parsed_text]
    toks_tab['POS'] = [word.pos_ for word in parsed_text]
    toks_tab['Lemma'] = [word.lemma_ for word in parsed_text]
    toks_tab['Stop Word']=[word.is_stop for word in parsed_text]
    toks_tab['Punctuation']=[word.is_punct for word in parsed_text]
    toks_tab['Space']=[word.is_space for word in parsed_text]
    toks_tab['Number']=[word.like_num for word in parsed_text]
    toks_tab['OOV']=[word.is_oov for word in parsed_text]
    toks_tab['Dependency']=[word.dep_ for word in parsed_text]
    return toks_tab

In [73]:
def tablefyjr(parsed_text):
    toks_tab = pd.DataFrame()
    toks_tab['Word'] = [word.text for word in parsed_text]
    toks_tab['Lemma'] = [word.lemma_ for word in parsed_text]
    toks_tab['Stop Word']=[word.is_stop for word in parsed_text]
    return toks_tab

In [46]:
tablefy(parsed).head()

,Word,POS,Lemma,Stop Word,Punctuation,Space,Number,OOV,Dependency
0,the,DET,the,True,False,False,False,True,det
1,mood,NOUN,mood,False,False,False,False,True,nsubj
2,of,ADP,of,True,False,False,False,True,prep
3,our,ADJ,-PRON-,True,False,False,False,True,poss
4,directors,NOUN,director,False,False,False,False,True,pobj

In [32]:
[word.text for word in parsed]

['The',
 'mood',
 'of',
 'our',
 'directors',
 'varies',
 'from',
 'pessimism',
 'to',
 'optimism',
 '.',
 'If',
 'any',
 'consensus',
 'exists',
 ',',
 'it',
 'is',
 'that',
 'business',
 'activity',
 'in',
 'the',
 'Sixth',
 'District',
 'will',
 'continue',
 'to',
 'weaken',
 'slightly',
 '.',
 'Many',
 'major',
 'economic',
 'indices',
 'should',
 'drift',
 'downward',
 'or',
 'mark',
 'time',
 'for',
 'the',
 'next',
 'two',
 'months',
 'at',
 'least',
 '.',
 'In',
 'the',
 'pessimistic',
 'vein',
 ',',
 'a',
 'leading',
 'department',
 'store',
 'recently',
 'informed',
 'us',
 'that',
 'their',
 'sales',
 'are',
 'even',
 'with',
 'a',
 'year',
 'ago',
 ',',
 'but',
 'only',
 'because',
 'of',
 'the',
 'addition',
 'of',
 'branches',
 ';',
 'unit',
 'sales',
 ',',
 'of',
 'course',
 ',',
 'are',
 'lower',
 '.',
 'The',
 'store',
 'reported',
 'that',
 'labor',
 'costs',
 'were',
 'up',
 '8',
 'to',
 '10',
 'percent',
 'and',
 'profits',
 'were',
 'off',
 '.',
 'They',
 'were',
 'pessimistic',
 'about',
 'future',
 'department',
 'store',
 'sales',
 'and',
 'did',
 'not',
 'anticipate',
 'a',
 'quick',
 'economic',
 'recovery',
 '.',
 'A',
 'telephone',
 'survey',
 'of',
 'department',
 'stores',
 'indicates',
 'this',
 'conclusion',
 'is',
 'shared',
 'by',
 'many',
 'retailers',
 'throughout',
 'the',
 'Southeast',
 '.',
 'According',
 'to',
 'directors',
 "'",
 'reports',
 ',',
 'retail',
 'sales',
 'in',
 'some',
 'areas',
 'have',
 'been',
 'adversely',
 'affected',
 'because',
 'of',
 'a',
 'diversion',
 'of',
 'purchasing',
 'power',
 'to',
 'private',
 'schools',
 'which',
 'have',
 'sprung',
 'up',
 'in',
 'response',
 'to',
 'integration',
 'orders',
 '.',
 'Lumber',
 'mills',
 'in',
 'many',
 'areas',
 'have',
 'not',
 'been',
 'operating',
 'at',
 'profitable',
 'levels',
 ',',
 'and',
 'one',
 'major',
 'mill',
 'is',
 'planning',
 'to',
 'close',
 'down',
 'operations',
 'for',
 'three',
 'to',
 'six',
 'weeks',
 'to',
 'adjust',
 'inventories',
 '.',
 'A',
 'recovery',
 'in',
 'this',
 'industry',
 'is',
 'anticipated',
 'by',
 'the',
 'end',
 'of',
 'the',
 'year',
 '.',
 'The',
 'coal',
 'industry',
 'in',
 'Tennessee',
 'is',
 'also',
 'stymied',
 'at',
 'the',
 'Mine',
 'Safety',
 'Act',
 ',',
 'with',
 'which',
 'the',
 'industry',
 'claims',
 'it',
 'is',
 'impossible',
 'to',
 'comply',
 '.',
 'The',
 'temporary',
 'closing',
 'of',
 'oil',
 'leasing',
 'in',
 'the',
 'Gulf',
 'because',
 'ofoil',
 '-',
 'slick',
 'problems',
 'continues',
 'to',
 'cause',
 'a',
 'slump',
 'in',
 'the',
 'Louisiana',
 'Gulf',
 'Coast',
 'area',
 '.',
 'The',
 'outlook',
 'for',
 'the',
 'immediate',
 'future',
 'is',
 'pessimistic',
 '.',
 'Difficulty',
 'in',
 'obtaining',
 'insurance',
 'will',
 'also',
 'continue',
 'to',
 'hold',
 'up',
 'construction',
 'in',
 'the',
 'wake',
 'of',
 'Hurricane',
 'Camille',
 '.',
 'Also',
 ',',
 'a',
 'strike',
 'by',
 '2,600',
 'workers',
 'at',
 'Gulf',
 'States',
 'Power',
 'is',
 'hamstringing',
 'new',
 'construction',
 'in',
 'Baton',
 'Rouge',
 'and',
 'other',
 'areas',
 'served',
 'by',
 'this',
 'utility',
 '.',
 'The',
 'employment',
 'outlook',
 'remains',
 'bleak',
 'at',
 'the',
 'large',
 'number',
 'of',
 'military',
 'and',
 'aerospace',
 'installations',
 'in',
 'the',
 'South',
 '.',
 'Financial',
 'districts',
 'of',
 'major',
 'metropolitan',
 'areas',
 'are',
 'expected',
 'to',
 'continue',
 'to',
 'experience',
 'a',
 'reduction',
 'in',
 'employment',
 'occurring',
 'throughout',
 'the',
 'brokerage',
 'business',
 ',',
 'and',
 'there',
 'has',
 'been',
 'some',
 'reduction',
 'in',
 'employment',
 'at',
 'a',
 'large',
 'bank',
 '.',
 'A',
 'recent',
 'canvass',
 'of',
 'institutional',
 'mortgage',
 'lenders',
 'indicates',
 'pessimistic',
 'outlook',
 'for',
 'single-',
 'and',
 'multi',
 '-',
 'family',
 'housing',
 'starts',
 '.',
 'Atlanta',
 'and',
 'Miami',
 'were',
 'the',
 'only',
 'moderately',
 'bright',
 'spots',
 '.',
 'Higher',
 'prices',
 'of',
 'vegetables',
 ',',
 'peaches',
 ',',
 'and',
 'other',
 'agricultural',
 'commodities',
 'may',
 'be',
 'in',
 'prospect',
 'because',
 'of',
 'lower',
 'crop',
 'estimates',
 'and',
 'delayed',
 'plantings',
 '.',
 'Production',
 'estimates',
 'of',
 'citrus',
 'fruit',
 ',',
 'however',
 ',',
 'remain',
 'bullish',
 'despite',
 'a',
 'mild',
 'drought',
 '.',
 'On',
 'the',
 'optimistic',
 'side',
 'of',
 'the',
 'ledger',
 ',',
 'many',
 'new',
 'plant',
 'locations',
 'and',
 'large',
 '-',
 'scale',
 'construction',
 'projects',
 'have',
 'been',
 'reported',
 'recently',
 '.',
 'For',
 'example',
 ',',
 'central',
 'Alabama',
 'will',
 'be',
 'receiving',
 'a',
 'modular',
 'home',
 'plant',
 ',',
 'a',
 'poultry',
 'plant',
 ',',
 'and',
 'a',
 'foundry',
 'for',
 'production',
 'of',
 'parts',
 'for',
 'automobiles',
 'and',
 'other',
 'products',
 '.',
 'In',
 'southern',
 'Louisiana',
 ',',
 'a',
 'new',
 'chemical',
 'plant',
 'has',
 'been',
 'announced',
 'and',
 'a',
 'large',
 'addition',
 'to',
 'an',
 'existing',
 'plant',
 'is',
 'planned',
 '.',
 'In',
 'the',
 'Birmingham',
 'area',
 ',',
 'a',
 'rash',
 'of',
 'construction',
 'projects',
 'has',
 'been',
 'announced',
 '.',
 'In',
 'the',
 'New',
 'Orleans',
 'area',
 ',',
 'plans',
 'for',
 'a',
 'new',
 'shopping',
 'center',
 'and',
 'another',
 'large',
 'motel',
 'have',
 'been',
 'announced',
 '.',
 'Potential',
 'public',
 'construction',
 'in',
 'that',
 'area',
 'includes',
 'a',
 'large',
 'bridge',
 ',',
 'an',
 'airport',
 ',',
 'and',
 'a',
 'stadium',
 '.',
 'One',
 'director',
 'has',
 'reported',
 'a',
 'sizable',
 'increase',
 'in',
 'new',
 'orders',
 'because',
 'of',
 'a',
 'revival',
 'of',
 'capital',
 'projects',
 'that',
 'had',
 'been',
 'postponed',
 'last',
 'year',
 '.',
 'A',
 'real',
 'bright',
 'spot',
 'in',
 'our',
 'District',
 'has',
 'been',
 'the',
 'Orlando',
 'area',
 ',',
 'where',
 'construction',
 'should',
 'continue',
 'to',
 'boom',
 'as',
 'Disneyworld',
 'gains',
 'momentum',
 '.',
 'Construction',
 'will',
 'soon',
 'be',
 'commencing',
 'on',
 'a',
 'very',
 'large',
 'residential',
 'project',
 'south',
 'of',
 'Orlando',
 '.',
 'If',
 'a',
 'tentative',
 'wage',
 'settlement',
 'is',
 'ratified',
 'by',
 'ground',
 'workers',
 'of',
 'National',
 'Airlines',
 'this',
 'week',
 ',',
 'it',
 'will',
 'provide',
 'a',
 'stimulus',
 'to',
 'activity',
 'in',
 'southeast',
 'Florida',
 'in',
 'the',
 'coming',
 'weeks',
 '.']

# Using Clean Beige Books Data!

In [49]:
clean = pd.read_csv('cleaned.csv')

In [50]:
clean.head()

,ID,Date,District,Sector Heading,Sector Text
0,1,5-20-1970,Atlanta,Summary of Economic Activity,The mood of our directors varies from pessimis...
1,2,5-20-1970,Boston,Summary of Economic Activity,Discussions Monday (May 18) and last Friday wi...
2,3,5-20-1970,Chicago,Summary of Economic Activity,In published statements and private conversati...
3,4,5-20-1970,Cleveland,Summary of Economic Activity,Economic activity in the District has been dis...
4,5,5-20-1970,Dallas,Summary of Economic Activity,Continued inflation is the major concern of El...

In [51]:
#lowercase
clean['text'] = clean['Sector Text'].str.lower()

In [53]:
#punctuation
clean['text'] = clean['text'].str.replace(r'[^\w\s]', '')

In [54]:
clean.head()

,ID,Date,District,Sector Heading,Sector Text,text
0,1,5-20-1970,Atlanta,Summary of Economic Activity,The mood of our directors varies from pessimis...,the mood of our directors varies from pessimis...
1,2,5-20-1970,Boston,Summary of Economic Activity,Discussions Monday (May 18) and last Friday wi...,discussions monday may 18 and last friday with...
2,3,5-20-1970,Chicago,Summary of Economic Activity,In published statements and private conversati...,in published statements and private conversati...
3,4,5-20-1970,Cleveland,Summary of Economic Activity,Economic activity in the District has been dis...,economic activity in the district has been dis...
4,5,5-20-1970,Dallas,Summary of Economic Activity,Continued inflation is the major concern of El...,continued inflation is the major concern of el...

In [69]:
words[words['Word'] == 'area']

     Word   POS Lemma  Stop Word  Punctuation  Space  Number   OOV Dependency
245  area  NOUN  area      False        False  False   False  True       pobj
467  area  NOUN  area      False        False  False   False  True       pobj
480  area  NOUN  area      False        False  False   False  True   compound
499  area  NOUN  area      False        False  False   False  True       pobj
541  area  NOUN  area      False        False  False   False  True       attr

In [72]:
parsed = nlp(clean['text'][0])
words = tablefy(parsed)
count= words[words['Stop Word'] == False].groupby('Lemma').count()
count.head()

          Word  POS  Stop Word  Punctuation  Space  Number  OOV  Dependency
Lemma
10           1    1          1            1      1       1    1           1
2600         1    1          1            1      1       1    1           1
8            1    1          1            1      1       1    1           1
act          1    1          1            1      1       1    1           1
activity     2    2          2            2      2       2    2           2

In [ ]:
#get rid of stop words
def rem_stop(text):
    
    from nltk.corpus import stopwords
    
    stop_words = stopwords.words("english")
       
    toks = nltk.word_tokenize(text)
    toks_reduced = [x for x in toks if x.lower() not in stopwords.words('english')]
    
    return toks_reduced

In [91]:
#make single list of all clean words in cleaned.csv
nostop_stem = []
for t in clean['text']:
    parsed = nlp(t)
    tab = tablefyjr(parsed)
    nostop_stem += list(tab[tab['Stop Word'] == False]['Lemma'])

ValueError: Length of values does not match length of index

In [107]:
table = pd.DataFrame()
table['string'] = nostop_stem
table.head()

      string
0       mood
1   director
2       vary
3  pessimism
4   optimism

In [109]:
table.to_csv(path_or_buf = 'noSS_onelist.csv', sep = ',', encoding='utf-8')

In [101]:
import numpy as np

In [115]:
#make list of lists, each list element relating to one record
nostop_stem2 = []
for t in clean['text']:
    parsed = nlp(t)
    tab = tablefyjr(parsed)
    stems = [tab[tab['Stop Word'] == False]['Lemma']]
    nostop_stem2.append(stems)

In [116]:
clean['nostopstem'] = nostop_stem2

In [ ]:
#clean.to_csv(path_or_buf = 'cleaned_nostopstem.csv', sep = ',', encoding='utf-8').

In [123]:
list(clean['nostopstem'][3][0])

['economic',
 'activity',
 'district',
 'disrupt',
 'past',
 'week',
 'largely',
 'trucking',
 'strike',
 'strike',
 'major',
 'rubber',
 'company',
 'widespread',
 'campus',
 'disturbance',
 'district',
 'force',
 'number',
 'university',
 'close',
 'undoubtedly',
 'adverse',
 'impact',
 'business',
 'condition',
 'local',
 'area',
 'bank',
 'regular',
 'monthly',
 'survey',
 '70',
 'large',
 'manufacturing',
 'company',
 'district',
 'reflect',
 'softening',
 'nationwide',
 'industrial',
 'activity',
 'fall',
 'early',
 'winter',
 'sign',
 'bottoming',
 'evidence',
 'survey',
 'take',
 'april',
 'survey',
 'reveal',
 'sharp',
 'setback',
 'month',
 'april',
 'key',
 'series',
 'new',
 'order',
 'shipment',
 'marked',
 'deterioration',
 'employment',
 'workweek',
 'presumably',
 'work',
 'stoppag',
 'district',
 'insure',
 'unemployment',
 'rate',
 'edge',
 'moderately',
 'upward',
 '1',
 'percent',
 'october',
 '2',
 'percent',
 'late',
 'march',
 'jump',
 'percentage',
 'point',
 'april',
 '3',
 'percentat',
 'meeting',
 '40',
 'business',
 'economist',
 'hold',
 'bank',
 '15',
 'mixed',
 'report',
 'concern',
 'recent',
 'price',
 'behavior',
 'majority',
 'maintain',
 'wagecost',
 'pressure',
 'face',
 'slack',
 'demand',
 'great',
 'easy',
 'pass',
 'high',
 'price',
 'economist',
 'report',
 'table',
 'discount',
 'price',
 'rebate',
 'presumably',
 'record',
 'official',
 'price',
 'index',
 'specifically',
 'economist',
 'major',
 'rubber',
 'company',
 'say',
 'firm',
 'price',
 'index',
 'tire',
 'base',
 'actual',
 'transaction',
 'price',
 'reflect',
 'mix',
 'consumer',
 'purchase',
 'rise',
 'past',
 'year',
 'aboutonethird',
 'bls',
 'price',
 'index',
 'tire',
 'economist',
 'chemical',
 'industry',
 'report',
 'recent',
 'weakness',
 'chemical',
 'price',
 'note',
 'chemical',
 'product',
 'sell',
 'list',
 'pricesother',
 'point',
 'interest',
 'emerge',
 'meeting',
 'include',
 'report',
 'economist',
 'large',
 'machine',
 'tool',
 'company',
 'cleveland',
 'firm',
 'live',
 'backlog',
 'business',
 'book',
 'april',
 'onequarter',
 'normally',
 'receive',
 'time',
 'year',
 'book',
 'single',
 'new',
 'order',
 'economist',
 'major',
 'auto',
 'company',
 'believe',
 'bad',
 'cutback',
 'new',
 'car',
 'sale',
 'production',
 'follow',
 'level',
 'tendency',
 'second',
 'quarter',
 'sale',
 'recover',
 'later',
 'year',
 'economist',
 'steel',
 'industry',
 'expect',
 'current',
 'favorable',
 'trade',
 'balance',
 'steel',
 'deteriorate',
 'later',
 'year',
 'strong',
 'increase',
 'import',
 'easing',
 'export',
 'hand',
 'steel',
 'industry',
 'soon',
 'begin',
 'feel',
 'effect',
 'hedge',
 'buying',
 'anticipation',
 'possible',
 'strike',
 'yearamong',
 'comment',
 'receive',
 'bank',
 'director',
 'joint',
 'board',
 'meeting',
 'hold',
 '14',
 'report',
 'market',
 'auto',
 'component',
 'consumer',
 'electronic',
 'soft',
 'director',
 'say',
 'industry',
 'firm',
 'major',
 'factor',
 'flat',
 'glass',
 'isand',
 'remainin',
 'doldrums',
 'auto',
 'production',
 'construction',
 'improvement',
 'optimistic',
 'director',
 'emphasize',
 'demand',
 'coal',
 'great',
 'world',
 'war',
 'ii',
 'stockpile',
 'low',
 'difficulty',
 'receive',
 'supply',
 'imply',
 'continue',
 'upward',
 'pressure',
 'coal',
 'price',
 'rise',
 'considerably',
 'past',
 'year',
 'brownoutsare',
 'likely',
 'summer',
 'director',
 'dean',
 'graduate',
 'school',
 'report',
 'year',
 'graduate',
 'hard',
 'place',
 'market',
 'phds',
 'especially',
 'mathematician',
 'statistician',
 'suffer',
 'reflect',
 'cutback',
 'government',
 'grant',
 'financial',
 'support',
 'education',
 'director',
 'large',
 'bank',
 'say',
 'struggle',
 'maintain',
 'deposit',
 'director',
 'country',
 'bank',
 'experience',
 'rise',
 'time',
 'depositssome',
 'recent',
 'conversation',
 'bank',
 'officer',
 'district',
 'recent',
 'day',
 'indicate',
 'businessman',
 'expect',
 'corporate',
 'profit',
 'sharply',
 'second',
 'quarter',
 'trucking',
 'strike',
 'slack',
 'business',
 'businessman',
 'contact',
 'expect',
 'minor',
 'recovery',
 'profit',
 'quarter',
 'look',
 'major',
 'improvement',
 'final',
 'quarter',
 '1970']

In [127]:
len([i for i in np.arange(len(clean))])

25122

In [128]:
clean['nostop_stem'] = [list(clean['nostopstem'][i][0]) for i in np.arange(len(clean))]

In [137]:
clean.drop('Sector Text', axis=1, inplace=True)

In [138]:
clean.head()

,ID,Date,District,Sector Heading,nostop_stem
0,1,5-20-1970,Atlanta,Summary of Economic Activity,"[mood, director, vary, pessimism, optimism, co..."
1,2,5-20-1970,Boston,Summary of Economic Activity,"[discussion, monday, 18, friday, district, res..."
2,3,5-20-1970,Chicago,Summary of Economic Activity,"[publish, statement, private, conversation, de..."
3,4,5-20-1970,Cleveland,Summary of Economic Activity,"[economic, activity, district, disrupt, past, ..."
4,5,5-20-1970,Dallas,Summary of Economic Activity,"[continue, inflation, major, concern, eleventh..."

In [139]:
clean.to_csv(path_or_buf = 'noSS_table.csv', sep = ',', encoding='utf-8')

In [142]:
pd.read_csv('beige_tokenized.csv')

,Unnamed: 0,ID,Date,District,Sector Heading,Sector Text,tokenized
0,0,1,5-20-1970,Atlanta,Summary of Economic Activity,the mood of our directors varies from pessimis...,"['mood', 'directors', 'varies', 'pessimism', '..."
1,1,2,5-20-1970,Boston,Summary of Economic Activity,discussions monday may 18 and last friday with...,"['discussions', 'monday', 'may', '18', 'last',..."
2,2,3,5-20-1970,Chicago,Summary of Economic Activity,in published statements and private conversati...,"['published', 'statements', 'private', 'conver..."
3,3,4,5-20-1970,Cleveland,Summary of Economic Activity,economic activity in the district has been dis...,"['economic', 'activity', 'district', 'disrupte..."
4,4,5,5-20-1970,Dallas,Summary of Economic Activity,continued inflation is the major concern of el...,"['continued', 'inflation', 'major', 'concern',..."
5,5,6,5-20-1970,Kansas City,Summary of Economic Activity,consensus based on discussions with members of...,"['consensus', 'based', 'discussions', 'members..."
6,6,7,5-20-1970,Minneapolis,Summary of Economic Activity,although indications of softening in the ninth...,"['although', 'indications', 'softening', 'nint..."
7,7,8,5-20-1970,New York,Summary of Economic Activity,in the second federal reserve district the boa...,"['second', 'federal', 'reserve', 'district', '..."
8,8,9,5-20-1970,Philadelphia,Summary of Economic Activity,the business slowdown in the regional economy ...,"['business', 'slowdown', 'regional', 'economy'..."
9,9,10,5-20-1970,Richmond,"Production, Sales, and Inventories",district survey respondents except for those i...,"['district', 'survey', 'respondents', 'except'..."
10,10,11,5-20-1970,Richmond,Employment and Unemployment,employment is reported to have declined in the...,"['employment', 'reported', 'declined', 'distri..."
11,11,12,5-20-1970,Richmond,Wages and Prices,district manufacturers report increases in bot...,"['district', 'manufacturers', 'report', 'incre..."
12,12,13,5-20-1970,Richmond,Construction,residential construction activity in the distr...,"['residential', 'construction', 'activity', 'd..."
13,13,14,5-20-1970,Richmond,Loan Demand,district bankers report that the demand for mo...,"['district', 'bankers', 'report', 'demand', 'm..."
14,14,15,5-20-1970,Richmond,Outlook,uncertainty pervades the economic outlook amon...,"['uncertainty', 'pervades', 'economic', 'outlo..."
15,15,16,5-20-1970,Richmond,Capital Spending,survey respondents in manufacturing particular...,"['survey', 'respondents', 'manufacturing', 'pa..."
16,16,17,5-20-1970,Richmond,Inventory Investment,manufacturers report current inventory levels ...,"['manufacturers', 'report', 'current', 'invent..."
17,17,18,5-20-1970,Richmond,General Conditions and Consumer Spending,there is a consensus among district bankers th...,"['consensus', 'among', 'district', 'bankers', ..."
18,18,19,5-20-1970,San Francisco,General,there is no consistent pattern of views and an...,"['consistent', 'pattern', 'views', 'anticipati..."
19,19,20,5-20-1970,San Francisco,Random Notes by Industry,reports on recent agricultural conditions vary...,"['reports', 'recent', 'agricultural', 'conditi..."
20,21,22,5-20-1970,San Francisco,Employment,new jobs are becoming less easy to find actual...,"['new', 'jobs', 'becoming', 'less', 'easy', 'f..."
21,22,23,5-20-1970,San Francisco,Strikes,both current and anticipated labor difficultie...,"['current', 'anticipated', 'labor', 'difficult..."
22,23,24,5-20-1970,San Francisco,Wages,wage conditions vary from constant to rising t...,"['wage', 'conditions', 'vary', 'constant', 'ri..."
23,24,25,5-20-1970,San Francisco,Other Costs,increasing costs of purchased goods were menti...,"['increasing', 'costs', 'purchased', 'goods', ..."
24,25,26,5-20-1970,San Francisco,Prices,prices on the respondents own products vary fr...,"['prices', 'respondents', 'products', 'vary', ..."
25,26,27,5-20-1970,San Francisco,Profits,in one industry expecting both wage increases ...,"['one', 'industry', 'expecting', 'wage', 'incr..."
26,27,28,5-20-1970,San Francisco,Market Psychology,in one sensitivecommodity industry the psychol...,"['one', 'sensitivecommodity', 'industry', 'psy..."
27,28,29,5-20-1970,San Francisco,Sales,sales reports vary from curtailed through cons...,"['sales', 'reports', 'vary', 'curtailed', 'con..."
28,31,32,5-20-1970,San Francisco,Plant and Equipment Investment,both high and low levels of capital spending a...,"['high', 'low', 'levels', 'capital', 'spending..."
29,32,33,5-20-1970,San Francisco,Credit,according to the banker respondents ample to a...,"['according', 'banker', 'respondents', 'ample'..."
...,...,...,...,...,...,...,...
25104,25243,25240,1-17-2018,Philadelphia,Nonfinancial Services,on balance servicesector firms have continued ...,"['balance', 'servicesector', 'firms', 'continu..."
25105,25244,25241,1-17-2018,Philadelphia,Financial Services,financial firms reported modest growth of over...,"['financial', 'firms', 'reported', 'modest', '..."
25106,25245,25242,1-17-2018,Philadelphia,Real Estate and Construction,homebuilders continued to report slight growth...,"['homebuilders', 'continued', 'report', 'sligh..."
25107,25246,25243,1-17-2018,Richmond,Summary of Economic Activity,since our previous report the fifth district e...,"['since', 'previous', 'report', 'fifth', 'dist..."
25108,25247,25244,1-17-2018,Richmond,Employment and Wages,on balance the demand for labor increased mode...,"['balance', 'demand', 'labor', 'increased', 'm..."
25109,25248,25245,1-17-2018,Richmond,Prices,prices grew at a modest pace overall since our...,"['prices', 'grew', 'modest', 'pace', 'overall'..."
25110,25249,25246,1-17-2018,Richmond,Manufacturing,district manufacturing activity increased at a...,"['district', 'manufacturing', 'activity', 'inc..."
25111,25250,25247,1-17-2018,Richmond,Ports and Transportation,district ports reported robust yearoveryear gr...,"['district', 'ports', 'reported', 'robust', 'y..."
25112,25251,25248,1-17-2018,Richmond,"Retail, Travel, and Tourism",district retailers generally reported moderate...,"['district', 'retailers', 'generally', 'report..."
25113,25252,25249,1-17-2018,Richmond,Real Estate and Construction,residential real estate markets improved modes...,"['residential', 'real', 'estate', 'markets', '..."
25114,25253,25250,1-17-2018,Richmond,Banking and Finance,loan demand grew modestly in recent weeks as g...,"['loan', 'demand', 'grew', 'modestly', 'recent..."
25115,25254,25251,1-17-2018,Richmond,Non-Financial Services,nonfinancial services firms continued to repor...,"['nonfinancial', 'services', 'firms', 'continu..."
25116,25255,25252,1-17-2018,Richmond,Agriculture and Natural Resources,coal production was little changed in recent w...,"['coal', 'production', 'little', 'changed', 'r..."
25117,25256,25253,1-17-2018,San Francisco,Summary of Economic Activity,economic activity in the twelfth district cont...,"['economic', 'activity', 'twelfth', 'district'..."
25118,25257,25254,1-17-2018,San Francisco,Employment and Wages,conditions in the labor market continued to ti...,"['conditions', 'labor', 'market', 'continued',..."
25119,25258,25255,1-17-2018,San Francisco,Prices,overall price inflation ticked down slightly o...,"['overall', 'price', 'inflation', 'ticked', 's..."
25120,25259,25256,1-17-2018,San Francisco,Retail Trade and Services,growth in retail sales picked up noticeably ov...,"['growth', 'retail', 'sales', 'picked', 'notic..."
25121,25260,25257,1-17-2018,San Francisco,Manufacturing,conditions in the manufacturing sector remaine...,"['conditions', 'manufacturing', 'sector', 'rem..."
25122,25261,25258,1-17-2018,San Francisco,Agriculture and Resource-Related Industries,on balance activity in the agriculture sector ...,"['balance', 'activity', 'agriculture', 'sector..."
25123,25262,25259,1-17-2018,San Francisco,Real Estate and Construction,activity in real estate markets continued at a...,"['activity', 'real', 'estate', 'markets', 'con..."
25124,25263,25260,1-17-2018,San Francisco,Financial Institutions,lending activity firmed somewhat over the repo...,"['lending', 'activity', 'firmed', 'somewhat', ..."
25125,25264,25261,1-17-2018,St Louis,Summary of Economic Activity,reports from contacts indicate that economic c...,"['reports', 'contacts', 'indicate', 'economic'..."
25126,25265,25262,1-17-2018,St Louis,Employment and Wages,anecdotal evidence suggests little change in e...,"['anecdotal', 'evidence', 'suggests', 'little'..."
25127,25266,25263,1-17-2018,St Louis,Prices,price pressures have increased moderately sinc...,"['price', 'pressures', 'increased', 'moderatel..."
25128,25267,25264,1-17-2018,St Louis,Consumer Spending,reports from general retailers auto dealers an...,"['reports', 'general', 'retailers', 'auto', 'd..."
25129,25268,25265,1-17-2018,St Louis,Manufacturing,manufacturing activity has increased modestly ...,"['manufacturing', 'activity', 'increased', 'mo..."
25130,25269,25266,1-17-2018,St Louis,Nonfinancial Services,activity in the service sector has expanded mo...,"['activity', 'service', 'sector', 'expanded', ..."
25131,25270,25267,1-17-2018,St Louis,Real Estate and Construction,residential real estate activity has improved ...,"['residential', 'real', 'estate', 'activity', ..."
25132,25271,25268,1-17-2018,St Louis,Banking and Finance,banking conditions in the eighth district have...,"['banking', 'conditions', 'eighth', 'district'..."
25133,25272,25269,1-17-2018,St Louis,Agriculture and Natural Resources,district agriculture conditions declined moder...,"['district', 'agriculture', 'conditions', 'dec..."

# Topic Modelling

In [1]:
beige = pd.read_csv('noSS_table')

NameError: name 'pd' is not defined

In [ ]:
beige.head()