In [1]:
import pandas as pd
import gensim

C:\Users\keiko\Anaconda3\lib\site-packages\gensim\utils.py:1197: UserWarning: detected Windows; aliasing chunkize to chunkize_serial
  warnings.warn("detected Windows; aliasing chunkize to chunkize_serial")

In [2]:
import nltk
from nltk.corpus import stopwords

In [3]:
import string
from string import punctuation

In [4]:
beige = pd.read_csv('beige_books.csv')

In [ ]:
#for removing stop words/stemming words
%%capture
!pip install spacy
!python -m spacy download en
!pip install --no-cache-dir wordcloud
!pip3 install --no-cache-dir -U folium
!pip install --no-cache-dir textblob
from datascience import make_array
from datascience import *
import numpy as np
import matplotlib.pyplot as plt
from ipywidgets import *
%matplotlib inline
import folium
import pandas as pd
from IPython.display import HTML, display, IFrame
import folium
import spacy
from wordcloud import WordCloud

## Preprocessing

In [5]:
beige.head()

,ID,Date,District,Sector Heading,Sector Text
0,1,5-20-1970,Atlanta,Summary of Economic Activity,The mood of our directors varies from pessimis...
1,2,5-20-1970,Boston,Summary of Economic Activity,Discussions Monday (May 18) and last Friday wi...
2,3,5-20-1970,Chicago,Summary of Economic Activity,In published statements and private conversati...
3,4,5-20-1970,Cleveland,Summary of Economic Activity,Economic activity in the District has been dis...
4,5,5-20-1970,Dallas,Summary of Economic Activity,Continued inflation is the major concern of El...

In [6]:
print(len(beige['Sector Text']))
texts_series = beige['Sector Text']
texts = list(beige['Sector Text'])

25273

#### Getting rid of null vals, punctuation marks, stop words, and lowercasing

In [29]:
print(len(beige[texts_series.isnull()]))
beige[texts_series.isnull()]

139

,ID,Date,District,Sector Heading,Sector Text
20,21,5-20-1970,San Francisco,Summary for Selected Economic Aspects,NaN
29,30,5-20-1970,San Francisco,Inventories,NaN
30,31,5-20-1970,San Francisco,Both higher and lower inventories are reported.,NaN
92,93,10-14-1970,Atlanta,five-week delivery.,NaN
121,122,12-9-1970,Cleveland,one- and two-year maturity ranges.,NaN
135,136,1-12-1971,Dallas,as a whole.,NaN
216,217,7-21-1971,San Francisco,August 1.,NaN
258,259,11-10-1971,Boston,Regulation Q.,NaN
584,585,2-13-1974,Richmond,will decline.,NaN
628,629,6-12-1974,Dallas,just 6 percent.,NaN
710,711,1-15-1975,Atlanta,capital-spending plans.,NaN
788,789,7-9-1975,Kansas City,1-year CD's.,NaN
841,842,11-12-1975,Philadelphia,tax-exempt income.,NaN
1007,1007,1-13-1977,Chicago,1973-74.,NaN
1287,1287,9-13-1978,Boston,policy-induced recession at this time.,NaN
1366,1366,4-11-1979,Minneapolis,A Slowdown and a Threat,NaN
1989,1989,8-11-1981,Cleveland,<>,NaN
2456,2456,6-23-1982,Cleveland,<>,NaN
2714,2714,12-15-1982,Chicago,.,NaN
3172,3172,9-20-1983,Philadelphia,pre-MMDA levels.,NaN
5796,5795,6-15-1988,Richmond,Respondents Expecting Rate of Increase to,NaN
5797,5796,6-15-1988,Richmond,:,NaN
5798,5797,6-15-1988,Richmond,Rise,NaN
5799,5798,6-15-1988,Richmond,Slow,NaN
5800,5799,6-15-1988,Richmond,Not Change,NaN
5801,5800,6-15-1988,Richmond,Prices,NaN
5802,5801,6-15-1988,Richmond,40%,NaN
5803,5802,6-15-1988,Richmond,10%,NaN
5804,5803,6-15-1988,Richmond,50%,NaN
5805,5804,6-15-1988,Richmond,Wages,NaN
...,...,...,...,...,...
18279,18276,6-11-2008,Atlanta,.,NaN
18282,18279,6-11-2008,Atlanta,Agriculture,NaN
18304,18301,6-11-2008,Cleveland,Energy,NaN
19412,19409,12-2-2009,San Francisco,.,NaN
20707,20704,10-19-2011,Philadelphia,.,NaN
21021,21018,4-11-2012,Dallas,Prices,NaN
21478,21475,11-28-2012,Minneapolis,.,NaN
21563,21560,1-16-2013,Kansas City,Â,NaN
21566,21563,1-16-2013,Kansas City,Wages and Prices,NaN
21591,21588,1-16-2013,Richmond,Retail,NaN
21605,21602,1-16-2013,San Francisco,Return to top,NaN
21676,21673,3-6-2013,Philadelphia,S,NaN
21724,21721,4-17-2013,Cleveland,Manufacturing,NaN
21813,21810,6-5-2013,Cleveland,Manufacturing,NaN
21839,21836,6-5-2013,Minneapolis,with some exceptions noted.,NaN
21904,21901,7-17-2013,Cleveland,Manufacturing,NaN
21993,21990,9-4-2013,Cleveland,Manufacturing,NaN
22083,22080,10-16-2013,Cleveland,Manufacturing,NaN
22173,22170,12-4-2013,Cleveland,Manufacturing,NaN
22440,22437,4-16-2014,Cleveland,Manufacturing,NaN
22529,22526,6-4-2014,Cleveland,Manufacturing,NaN
22532,22529,6-4-2014,Cleveland,Consumer Spending,NaN
22710,22707,9-3-2014,Cleveland,Manufacturing,NaN
22898,22895,12-3-2014,Dallas,Manufacturing,NaN
22959,22956,1-14-2015,Atlanta,Real Estate and Construction,NaN
23535,23532,12-2-2015,Cleveland,Consumer Spending,NaN
23579,23576,12-2-2015,Richmond,Manufacturing,NaN
23716,23713,3-02-2016,Cleveland,Banking,NaN
24846,24843,7-12-2017,St Louis,.,NaN
25178,25175,1-17-2018,Boston,.,NaN

In [7]:
#get rid of empty text records
beige.dropna(axis = 0, how = 'any', inplace = True)
len(beige)

25134

In [31]:
type(beige['Sector Text'][0])

str

In [8]:
#lowercase all records
beige['Sector Text'] = beige['Sector Text'].str.lower()

In [9]:
beige['Sector Text'][0]

"the mood of our directors varies from pessimism to optimism. if any consensus exists, it is that business activity in the sixth district will continue to weaken slightly. many major economic indices should drift downward or mark time for the next two months at least.in the pessimistic vein, a leading department store recently informed us that their sales are even with a year ago, but only because of the addition of branches; unit sales, of course, are lower. the store reported that labor costs were up 8 to 10 percent and profits were off. they were pessimistic about future department store sales and did not anticipate a quick economic recovery. a telephone survey of department stores indicates this conclusion is shared by many retailers throughout the southeast.according to directors' reports, retail sales in some areas have been adversely affected because of a diversion of purchasing power to private schools which have sprung up in response to integration orders. lumber mills in many areas have not been operating at profitable levels, and one major mill is planning to close down operations for three to six weeks to adjust inventories. a recovery in this industry is anticipated by the end of the year. the coal industry in tennessee is also stymied at the mine safety act, with which the industry claims it is impossible to comply.the temporary closing of oil leasing in the gulf because ofoil-slick problems continues to cause a slump in the louisiana gulf coast area. the outlook for the immediate future is pessimistic. difficulty in obtaining insurance will also continue to hold up construction in the wake of hurricane camille. also, a strike by 2,600 workers at gulf states power is hamstringing new construction in baton rouge and other areas served by this utility.the employment outlook remains bleak at the large number of military and aerospace installations in the south. financial districts of major metropolitan areas are expected to continue to experience a reduction in employment occurring throughout the brokerage business, and there has been some reduction in employment at a large bank.a recent canvass of institutional mortgage lenders indicates pessimistic outlook for single- and multi-family housing starts. atlanta and miami were the only moderately bright spots.higher prices of vegetables, peaches, and other agricultural commodities may be in prospect because of lower crop estimates and delayed plantings. production estimates of citrus fruit, however, remain bullish despite a mild drought.on the optimistic side of the ledger, many new plant locations and large-scale construction projects have been reported recently. for example, central alabama will be receiving a modular home plant, a poultry plant, and a foundry for production of parts for automobiles and other products. in southern louisiana, a new chemical plant has been announced and a large addition to an existing plant is planned. in the birmingham area, a rash of construction projects has been announced. in the new orleans area, plans for a new shopping center and another large motel have been announced. potential public construction in that area includes a large bridge, an airport, and a stadium.one director has reported a sizable increase in new orders because of a revival of capital projects that had been postponed last year.a real bright spot in our district has been the orlando area, where construction should continue to boom as disneyworld gains momentum. construction will soon be commencing on a very large residential project south of orlando.if a tentative wage settlement is ratified by ground workers of national airlines this week, it will provide a stimulus to activity in southeast florida in the coming weeks."

In [10]:
import re

In [35]:
#get rid of punctuation marks
punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [36]:
ex = 'this @(*&is an exmaple text *&^%@^}{(0} to use'
re.sub('[^\s\w]', '', ex)

'this is an exmaple text 0 to use'

In [11]:
beige['Sector Text'].str.replace(r'[^\w\s]', '')
beige['Sector Text'] = beige['Sector Text'].str.replace(r'[^\w\s]', '')

In [ ]:
#nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

In [12]:
beige['District'].unique()

array(['Atlanta', 'Boston', 'Chicago', 'Cleveland', 'Dallas',
       'Kansas City', 'Minneapolis', 'New York', 'Philadelphia',
       'Richmond', 'San Francisco', 'St Louis', 'District'], dtype=object)

In [46]:
#ny = beige[beige['District'] == 'New York']
#ny.to_csv(path_or_buf = 'ny.csv', sep = ',', encoding='utf-8')

In [13]:
toks_tab = Table()
toks_tab.append_column(label="Word", values=[word.text for word in beige['Sector Text'][0]])
toks_tab.show()

NameError: name 'Table' is not defined

In [14]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\keiko\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [15]:
#get rid of stop words
stop_words = stopwords.words('english')

In [16]:
#remove stop words
def rem_stop(text):
    
    from nltk.corpus import stopwords
    
    stop_words = stopwords.words("english")
       
    toks = nltk.word_tokenize(text)
    toks_reduced = [x for x in toks if x.lower() not in stopwords.words('english')]
    
    return toks_reduced

In [56]:
len(beige['Sector Text'])

25134

In [17]:
beige['tokenized'] = [rem_stop(t) for t in beige['Sector Text']]

In [18]:
beige.to_csv(path_or_buf = 'beige_tokenized.csv', sep = ',', encoding='utf-8')

In [20]:
token = pd.read_csv('beige_tokenized.csv')
token.head()

,Unnamed: 0,ID,Date,District,Sector Heading,Sector Text,tokenized
0,0,1,5-20-1970,Atlanta,Summary of Economic Activity,the mood of our directors varies from pessimis...,"['mood', 'directors', 'varies', 'pessimism', '..."
1,1,2,5-20-1970,Boston,Summary of Economic Activity,discussions monday may 18 and last friday with...,"['discussions', 'monday', 'may', '18', 'last',..."
2,2,3,5-20-1970,Chicago,Summary of Economic Activity,in published statements and private conversati...,"['published', 'statements', 'private', 'conver..."
3,3,4,5-20-1970,Cleveland,Summary of Economic Activity,economic activity in the district has been dis...,"['economic', 'activity', 'district', 'disrupte..."
4,4,5,5-20-1970,Dallas,Summary of Economic Activity,continued inflation is the major concern of el...,"['continued', 'inflation', 'major', 'concern',..."

In [ ]:
len(token['tokenized'][0])